<!doctype html>
<title>Moje podróże</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div id="page">
  <header> <h1>Moje podróże</h1></header>
  <div id="menu">
  <a href="{{ url_for('index') }}">Start</a>
  {% if not session.username %}
    <a href="{{ url_for('register') }}">Rejestracja</a>
    <a href="{{ url_for('login') }}">Logowanie</a>
  {% else %}
    <a href="{{ url_for('yourplaces', username=session.username) }}">Twoje miejsca</a>
    <a href="{{ url_for('search_places') }}">Wyszukaj użytkowników</a>
    <a href="{{ url_for('search_users') }}">Wyszukaj miejscowości</a>
    <a href="{{ url_for('logout') }}">Wyloguj</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% if session.username %}
  <br><h2>Witaj {{ session.username }}</h2>
  {% endif %}
  {% block body %}{% endblock %}
  <div id="footer">
   Kamil Kucharski<br>
   <b>v1.0</b>
 </div>
</div>